@model Proge2._1.Data.Servicess

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Services</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transportation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transportation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PanelProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PanelProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.montage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.montage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
